<h2>To Do List</h2>
<h3>“Never put off till tomorrow what may be done day after tomorrow just as well.”</h3>
<div class="row">
    <div class="col-md-6">
      <% @items.each do |item| %>
        <div class="media" id="item_<%= item.id %>">
          <div class="media-body">
            <h4 class="media-heading">
              <p><%= item.name %></p>
                <small>
                  <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %>
                </small
            </h4>
          </div>
        </div>
        <div id="delete">
          <%= link_to "Delete Item", item, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
        </div>
      <% end %>

    </div>
    <div class="col-md-4">
      <%= link_to "New Item", new_item_path, class: 'btn btn-success' %>
    </div>

</div>
